body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #e4e8a6; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-left: 20px;
  }
  
  .nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    
  }
  
  .nav-link:hover, .nav-link.active {
    background-color: #ffd700; /* Yellow highlight for mouseover and active */
    color: #000000;
    border-radius: 5px;
    
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #e4e8a6;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .responsive-svg-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
  }